# <font color='blue'>datapython</font>
##sprint 02-02 Variáveis

In [1]:
#Atribuindo o valor numérico 1 (com operador de atribuição =)
var_teste = 1

In [2]:
var_teste

1

In [3]:
print(var_teste)

1

In [6]:
var_teste2 = var_teste

In [8]:
print(var_teste2)

1

In [10]:
var_teste= 10

In [11]:
print(var_teste)

10

In [12]:
print(var_teste2)

1

In [13]:
type(var_teste)

int

In [14]:
var_teste3 = 9.5

In [15]:
type(var_teste3)

float

In [16]:
#declaração múltiplaabs
aluno1, aluno2, aluno3 = "Juliana","Luciana", "Carol"

In [17]:
aluno1

'Juliana'

In [18]:
#var1, var2, var3 = 4 não vai funcionar.
var1 = var2 = var3 = 4

In [19]:
var2

4

In [20]:
var3 = 20

In [21]:
var3

20

In [22]:
var2

4

In [23]:
altura = 4

In [24]:
largura = 2

In [26]:
area = altura * largura

In [27]:
print(area)

8

In [31]:
perimetro = (2 * largura) + (2 * altura)

In [32]:
perimetro

12

In [33]:
idade1 = 20

In [34]:
idade2 = 25

In [35]:
#soma de variáveis
idade_total_casal = idade1 + idade2

In [36]:
idade_total_casal

45

In [38]:
#diferença entre variáveis
idade1 - idade2

-5

In [39]:
idade2 * idade1

500

In [40]:
#operador de concatenação de strings

nome="Clayton"

In [41]:
sobrenome= "Chagas"

In [43]:
fullname = nome + " " + sobrenome

In [44]:
fullname

'Clayton Chagas'